body{
  background-color: blue;
}
body div{
  width: 17em;
  height: 17em;
  position: absolute;
}
#box_1{
  background-color:white;
  top: 0;
  left: 0;
}
#box_2{
  background-color: green;
  top: 0;
  right: 0;
}
#box_2 div{
  background-color: black;
  display:
  width: 3em;
  height: 3em;
}
#box_3{
  background-color: black;
  bottom: 0;
  right: 0;
}
#box_4{
  background-color: purple;
  bottom: 0;
  left: 0;
}
